* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.section {
  width: 100%;
  height: 100vh;
  /* padding-left: 40px; min-height: 100vh; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #fff; */
}
.content {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content .textBox {
  position: relative;
  max-width: 650px;
  padding-bottom: 200px;
  padding-left: 30px;
}
.content .textBox h2 {
  font-size: 4em;
  color: #333;
  line-height: 1.4em;
  font-weight: 500;
}
.content .textBox h2 span {
  color: #2176bd;
  font-size: 1, 2em;
  font-weight: 900;
}
.content .textBox p {
  color: #333;
}
.content .textBox h6 {
  display: inline-block;
  font-weight: 100;
  margin-top: 20px;
  padding: 8px 20px;
  background-color: #3075c4;
  color: #fff;
  border-radius: 40px;
  letter-spacing: 1px;
  text-decoration: none;
}
.content-button {
  border-radius: 20px;
  background-color: #3075c4;
  color: rgb(255, 255, 255);
  padding: 10px;
  font-weight: 100;
  margin-top: 10px;
}
.content-button:hover {
  background-color: #457ebe;
  color: rgb(255, 255, 255);
}
.content .imgBox {
  width: 600px;
  height: 600px;
  object-fit: contain;
  max-height: 500px;

  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  margin-top: 0px;
  margin-bottom: 150px;
}
.content .imgBox img {
  max-width: 440px;
  max-height: 360px;
  /* min-height: 400px; */
}

.thumb {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  display: flex;
}
.thumb li:hover {
  transform: translateY(-15px);
}
.thumb li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
}
.thumb li img {
  max-width: 60px;
  max-height: 100px;
}
.sci {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sci li {
  list-style-type: none;
}
.sci li a {
  display: inline-block;
  margin: 5px 0;
  transform: scale(0.6);
  filter: invert(1);
}
.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* background-color: #017143; */
  clip-path: circle(600px at right 800px);
}
@media (max-width: 991px) {
  .content {
    flex-direction: column;
    margin-top: 100px;
  }
  .content .textBox h2 {
    font-size: 2.5em;
    margin-bottom: 15px;
  }
  .content .textBox {
    max-width: 100%;
    padding: 10px;
  }
  .circle {
    clip-path: circle(300px at center bottom);
  }
  .section {
    /* padding: 20px 20px 80px; */
    /* padding-right: 10px;
    padding-left: 10px; */
    height: 800px;
    padding-top: 0 !important;
    padding-bottom: 100px;
    position: relative;
    padding: none !important; /* min-height: 100vh; */
  }
  .content .imgBox img {
    max-width: 340px;
    max-height: 230px;
    margin-bottom: 220px;
    margin-top: 60px;
    /* min-height: 400px; */
  }
  .content .imgBox {
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 300px;
    padding: 0 !important;
    margin-top: 50px;
    margin-bottom: 0;
  }
  .thumb {
    display: flex !important;

    overflow: hidden !important;
    overflow-x: scroll !important;
  }
  #thumbImg {
    display: flex !important;
    align-items: center;
    justify-content: center;
    overflow: hidden !important;
    flex-direction: row;
    overflow: scroll !important;
  }
  #mob__res1 {
    display: none !important;
  }
  #mob__res2 {
    display: none !important;
  }
  #mob__res3 {
    display: none !important;
  }
  #mob__res4 {
    display: none !important;
  }
}
