.product {
  max-width: 250px;
  width: 230px;
  margin: 10px;
  display: flex;
  transition: transform 300ms ease-in;
  border: none !important;
}
/* .product:hover {
  transform: scale(1.04);
} */
.product__title {
  font-size: 15px;
  font-family: "Ubuntu", sans-serif;
}
.product__price {
  font-size: 20px;
}
@media (max-width: 768px) {
  /* For mobile phones: */
  .product {
    max-width: 200px;
    margin: 3px;
    /* max-height: 100px !important; */

    width: 200px;
  }
  .product__price {
    font-size: 18px;
  }
}
.product__image {
  object-fit: contain;
  padding: 2px;
  border-radius: 15px !important;
}
.product-item {
  background: transparent;
  background-color: #ebecf0;
  text-shadow: 1px 1px 0 #fff;
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  transition: all 0.3s ease-in-out;
  border-radius: 40px;
  padding: 4px 30px 20px;
  min-height: 380px;
  border-radius: 20px !important;
}
.product-item:hover {
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}
.product-item:active {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff !important;
}
.product-item:focus {
  outline: none;
}
