.categoryItems {
  /* box-shadow: rgba(0, 0, 0, 0.09) 1.95px 1.95px 1.6px; */
  border-radius: 12px;
  cursor: pointer;
  transition: transform 500ms ease-in;
}
/* .categoryItems {
  background: transparent;
  box-shadow: 6px 6px 14px 0 rgba(0, 0, 0, 0.2),
    -8px -8px 18px 0 rgba(255, 255, 255, 0.55);
  border-radius: 40px;
  padding: 4px 30px 20px;
} */

.categoryItems:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: scale(1.04);
}
.categoryIcon {
  color: rgba(18, 18, 240, 0.801);
}
.categoryItems h6 {
  font-weight: 300;
  font-size: smaller;
}

.categoriesLogo {
  width: 80px;
  min-height: 40px;
}
.categories {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.neu__category:hover {
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}
.neu__category:active {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff !important;
}
.neu__category:focus {
  outline: none;
}

.neu__category {
  color: #61677c;
  font-weight: bold;
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
  border-radius: 16px/2;
  width: 100%;
  line-height: 0;
  width: 16px * 3;
  height: 16px * 3;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 16px/2;
  font-size: 16px * 1.2;
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 26px;
  /* margin: 10px; */
  /* padding: 16px; */
  background-color: #ebecf0;
  text-shadow: 1px 1px 0 #fff;
}
@media only screen and (max-width: 600px) {
  .neu__category {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    align-items: center;
    justify-content: center;
  }
  .categories {
    display: flex;
    justify-content: space-evenly;
  }
}
