/*Hides scrollbar for safari and chrome*/
*::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
main {
  min-height: 80vh;
}
body {
  background-color: rgb(235, 235, 235);
}

h3 {
  padding: 1rem 0;
}
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}
.rating .txt {
  margin: 0.2rem;
  font-size: small;
}

a {
  text-decoration: none;
}

@import url("https://fonts.googleapis.com/css?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css?family=Hind&display=swap");

:root {
  --border-radius: 10px;
}

.CardInner {
  /* padding: 10px 10px; */
  /* background-color: #e2e9f4; */
  border-radius: var(--border-radius);
}

.Icontainer {
  display: flex;
}

.Icon {
  display: inline;
  min-width: 46px;
  min-height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  margin-left: 12px;
  box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.6), 2px 2px 12px #c8d8e7;
}

.Icon svg {
  transform: translate(-1px, -1px);
}
.Icon:hover {
  /* background-color: aqua; */
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.6), 5px 5px 10px #c8d8e7,
    inset -10px -10px 15px rgba(255, 255, 255, 0.6),
    inset 10px 10px 15px #c8d8e7;
}

.InputContainer {
  width: 100%;
}

input {
  background-color: #e3edf7;
  padding: 13px 20px;
  border: none;
  display: block;
  font-family: "Orbitron", sans-serif;
  font-weight: 600;
  color: #a9b8c9;
  -webkit-appearance: none;
  transition: all 240ms ease-out;
  width: 100%;
}
input::placeholder {
  color: #6d7f8f;
}
input:focus {
  outline: none;
  color: #6d7f8f;
  background-color: #eff5fa;
}

.InputContainer {
  --top-shadow: inset 1px 1px 3px #c5d4e3, inset 2px 2px 6px #c5d4e3;
  --bottom-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.7);
  position: relative;
  border-radius: var(--border-radius);
  overflow: hidden;
}
.InputContainer:before,
.InputContainer:after {
  left: 0;
  top: 0;
  display: block;
  content: "";
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
}
.InputContainer:before {
  box-shadow: var(--bottom-shadow);
}
.InputContainer:after {
  box-shadow: var(--top-shadow);
}
/* .neuHeader{
  border: none;
  width: 230px;
  height: 60px;
  background: #ffffff;
  position: relative;
  background: #ffffff;
  margin-bottom: 25px;
  border-radius: 32px;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;

  opacity: 1;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
    6px 6px 10px rgba(0, 0, 0, 0.2);
    color: rgb(129, 179, 245);
} */
.neuButton {
  border: none;
  width: 230px;
  height: 60px;
  background: #f3f0f1;
  position: relative;
  background: #f3f0f1;
  margin-bottom: 25px;
  border-radius: 32px;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;

  box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
    inset 8px 8px 16px rgba(0, 0, 0, 0.1);
  color: #1979f7;
}
.navbar.bg-light {
  border: none !important;
}
.neuButton:hover {
  opacity: 1;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
    6px 6px 10px rgba(0, 0, 0, 0.2);
  color: rgb(129, 179, 245);
}

.neuSpan {
  line-height: 100px;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: semibold;
}
.Btn-Blue-BG.active {
  background-color: blue !important;
}