/*Hides scrollbar for safari and chrome*/
*::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}
.rating .txt {
  margin: 0.2rem;
  font-size: small;
}

a {
  text-decoration: none;
}
link {
  text-decoration: none;
}
